
@use '../core/variables' as vars;

.button {
        
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        padding: 0.8rem 3.5rem;
        text-decoration: none;
        color: vars.$color-green;
        border-radius: 99px;
        border: 0.2rem solid vars.$color-green; 
        font-family: vars.$font-main;
        font-size: 1.4rem;
        font-weight: 500;
        transition: background 0.5s;
        max-width: 100%;
        box-sizing: border-box;
        
        &--first {
            margin-right: auto;
            &:hover {
            background-color: vars.$color-green;
            color: white;
            
        }
        }

        &--second {
            display: inline-block;
            background-color: vars.$color-green;
            color: white;
            border: none;
            margin: 0 auto 10.5px;
            &:hover {
                background-color: black;
            }
        }
    }