.button {
        display: inline-block;
        margin-top: 3rem;
        
        background-color: white;
        padding: 1rem 4rem;
        text-decoration: none;
        color: vars.$color-green;
        border-radius: 99px;
        border: 0.2rem solid vars.$color-green; 
        
        font-family: vars.$font-main;
        text-align: center;
        font-size: 1.7rem;
        font-weight: 500;
        transition: background 0.5s;
        
        &:hover {
            background-color: vars.$color-green;
            color: white;
        }
    }