// fonts
$font-main: 'Roboto Slab', sans-serif;
$font-secondary: 'Roboto LHT', sans-serif;



// colors
$color-bg: #f3f4f5;
$color-secondary: #999;
$color-green: #6c933e;
$color-grey-light: #d9e4cc;
$color-grey-dark: #4a4a4a;

