@use '../core/variables' as vars;

.page__footer {
    font-family: vars.$font-secondary;
    background-color: rgb(94, 93, 93);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    padding: 3rem;

    .text-footer {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.5rem;
        font-size: 1rem;
        color: white;
        line-height: 2;
        text-align: center;
        font-family: vars.$font-secondary;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        
        a {
            text-decoration: none;
            color: white;
            &:hover {
            color: rgb(0, 0, 0);
        }
        }

        
    }
   
    .copy-footer {
        margin-top: 1rem;
        line-height: 2;
        display: flex;
        font-size: 14px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: white;
        font-weight: 300;
        
        }
        a {
            text-decoration: none;
            color: white;
            &:hover {
            color: rgb(0, 0, 0);}
             }

    
}