.page__header {
  
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  background-color: #6c933e;
  padding: 1rem;
  position: fixed; /*El elemento se queda fijo*/
  &:hover {
    background-color: #3e5524;
  }
}

