@use '../core/variables' as vars;
main {
    flex: 1;
}

.page__whitebanner {
 font-family: vars.$font-secondary;
 background-color: rgb(255, 255, 255);
 padding: 2rem;
 display: flex;
 flex-direction: column;
 text-align: left;
 gap: 1rem;
    h1 {
        color: black;
        padding-bottom: 1rem;
        font-family: vars.$font-main;
        font-size: 1.5rem;
    }

    h2 {
        color: vars.$color-green;
        padding-bottom: 1rem;
        font-size: 1rem;
        font-weight: 100;
    }

    p {
        color: rgb(97, 97, 97);
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.5;
    }
}

.button {
        
        display: flex;
        background-color: white;
        padding: 0.8rem 3.5rem;
        text-decoration: none;
        color: vars.$color-green;
        border-radius: 99px;
        border: 0.2rem solid vars.$color-green; 
        font-family: vars.$font-main;
        font-size: 1.4rem;
        font-weight: 500;
        transition: background 0.5s;
        
        &--first {
            margin-right: auto;
            &:hover {
            background-color: vars.$color-green;
            color: white;
            
        }
        }

        &--second {
            display: inline-block;
            background-color: vars.$color-green;
            color: white;
            border: none;
            margin: 0 auto 10.5px;
            &:hover {
                background-color: black;
            }
        }
    }
 
 .card {
    padding: 1rem;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
        img {
            width: 124px;
            border-radius: 100%;
            box-shadow:  0 3px 3px 0;
            
        }
        h2 {
            font-family: vars.$font-main;
            font-size: 1rem;
        }
 }
      
.green-banner {
    font-family: vars.$font-main;
    padding: 1.3rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: vars.$color-grey-light;
    h3 {
        color: grey;
        font-size: 1rem;
    }
    h1 {
        font-size: 1.5rem;
    }
}
 