@use '../core/variables' as vars;


.page__hero {
    color: white;
    height: 100vh;
    font-family: vars.$font-main;
    
    background-image: url('/images/cover.jpeg');
    
    background-size: cover;
    background-position: 90% center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    

      
        h1 {
            font-size: 2.5rem;
            margin: 1rem;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
            font-weight: 500; /*ancho letra*/
            
            
        }
        
        h2 {
            
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
            font-size: 1.2rem;
            font-weight: 300;  
        }

        .arrow {
    
            background-color: white;
            margin: 1rem;
            padding: 1rem;
            border-radius: 99%;
            transition: background 0.2s;
        }
        
        .arrow:hover {
            background-color: #3e5524;
        }
        
        
        
}



