<footer class="page__footer">
  <div class="text-footer">

      <a href="https://adalab.es/">ZAPATILLAS</a>
      <a href="https://adalab.es/">ROPA</a>
      <a href="https://adalab.es/">NIÑE</a>
      <a href="https://adalab.es/">DESTACADOS</a>
      <a href="https://adalab.es/">TIPS</a>
  </div>
  
  <div class="social-media"> 
      <a href="https://adalab.es/">TWITER</a>
      <a href="https://adalab.es/">INSTAGRAM</a>
      <a href="https://adalab.es/">YOUTUBE</a>
  </div>
 

  <div class="copy-footer">
    <small>
          &copy; 2023
          
    </small>
    <div> 
      We <span style="color: #6c933e;">❤</span> run
    </div>
  </div>
  

</footer>
