<main>
    <section class="page__hero">
        <div class="page__hero-text">
            <h1>COMIENZOS COMPARTIDOS</h1>

            <h2>Todo lo que necesitan para volver al cole con ilusión</h2>

            <a href="#vuelta-cole"><img src="images/ico-scroll-down.svg" alt="flecha hacia abajo" class="arrow"></a>
        </div>
        
    </section>

    <section class="page__whitebanner">
        <h2>HISTORIAS, MODA Y ROPA DEPORTIVA</h2>

        <h1>TU TIENDA DE DEPORTE</h1>

        <p>El deporte nos mantiene en forma. Nos mantiene alerta. Nuestra ropa deportiva para hombre y mujer te ofrece las últimas tecnologías, a la altura de tu rendimiento, para que superes tu mejor marca personal.</p>

        <a href="https://adalab.es/" class="button button--first">Comprar</a>

    </section>

    <section class="green-banner"> 
        <h3>¡Prepáralos con tus marcas favoritas!</h3>
        <h1 id="vuelta-cole">VUELTA AL COLE</h1>
        <div class="card card1">
            <img src="images/lpbts-mod05-img01-desk.png" alt="">
            <h2>Mochilas escolares</h2>
        </div>
        <div class="card card2">
            <img src="images/lpbts-mod05-img04-mob.png" alt="">

            <h2>Estuches</h2>
        </div>
        <div class="card card3">
            <img src="images/lpbts-mod05-img03-mob.png" alt="">
            <h2>Bolsas de deporte</h2>
        </div>
        <a href="https://adalab.es/" class="button button--second">Empezar ahora</a>


    </section>
</main>